<h2>SQL Tutorial</h2>
<p style="color:black;">Data is coming from a project I have stored at Bigquery</p>

<p style="color:black;"><a href="https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax">Google Docs with Standard SQL Syntacs</a></p>


<p>All examples below uses Standard SQL</p>

In [2]:
import pandas

process_date = "2019-11-28"
process_date_no_dash = "20191128"
project_id = 'reilistpro'

<b>SQL Queries</b>
<p>The SELECT * returns every columns in the </p>
<p>The SELECT (Column name) returns choosen columns. NOTE: FROM statement must provide a AS value that follows </p>

In [3]:
query = """
  SELECT *

    FROM `properati-data-public.properties_br.properties_rent_201501`
    
    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

/usr/local/lib/python3.7/site-packages/pandas_gbq/gbq.py:562: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  progress_bar_type=progress_bar_type,

  SELECT *

    FROM `properati-data-public.properties_br.properties_rent_201501`

    LIMIT 10

,id,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat_lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,f73c373e0588bf568164a057dd94203ac87d47b1,2014-08-07,rent,store,Catu,|Brasil|Bahia|Catu|,Brasil,Bahia,None,,...,NaN,NaN,NaN,NaN,NaN,None,http://www.properati.com.br/mfye_alugar_outros...,"Otimo Imovel com o melhor valor da regiao, con...",Exclusividade! - Loja Em Catu,https://thumbs4.properati.com/3/jA8isZw8Xju7z3...
1,d6d377927ab49671acdd38aa6f661a460601a88b,2015-01-20,rent,apartment,Pernambuco,|Brasil|Pernambuco|,Brasil,Pernambuco,None,"-8.126271,-34.903793",...,63.0,6.088095,19.047619,1.0,2.0,None,http://www.properati.com.br/w71k_alugar_aparta...,CONTATOS: Claro: 81./ Tim: 81./ Oi: 81./ Vivo:...,"Apartamento de 2 quartos, DCE, 1.º Andar, 63 m...",https://thumbs4.properati.com/0/B9BCwP1HK7NvZI...
2,c6826a9508436920fd59b46a202354f3e4823d22,2014-10-29,rent,store,São Paulo,|Brasil|São Paulo|,Brasil,São Paulo,None,"-23.1546253,-45.7906242",...,3800.0,NaN,NaN,NaN,NaN,None,http://www.properati.com.br/s41f_alugar_comerc...,CondomÃ­nio com 22 MÃ³dulos de GalpÃµes; 3.80...,"Comercial em Caçapava, no bairro Caçapava",https://thumbs4.properati.com/1/J2n8nXVlvduy6E...
3,ba957ad3cb2d12d55d1f0466eeffe788a35a6f4f,2014-08-04,rent,house,São Paulo,|Brasil|São Paulo|,Brasil,São Paulo,None,"-20.7780086,-49.3450562",...,NaN,NaN,NaN,NaN,1.0,None,http://www.properati.com.br/lxp9_alugar_casas_...,Ref.: CA95876 Tipo: Casa Condominio Cidade: S...,Tipo: Casa Condominio Cidade: So Jos do ...,https://thumbs4.properati.com/9/xcrfHjSnXdhGcO...
4,0999b33908c71af3b8be282ab35ab61b38a46353,2014-07-16,rent,apartment,São Paulo,|Brasil|São Paulo|,Brasil,São Paulo,None,,...,319.0,4.141066,13.479624,NaN,4.0,None,http://www.properati.com.br/ifuj_alugar_aparta...,"Apartamento na Vila Olí­mpia, com 4 quartos, s...","Apartamento no(a) Vila OlÃ­mpia , SÃ£o Paulo - SP",https://thumbs4.properati.com/8/nxrbzTDipvKnqd...
5,011d5618639ce229b012022a32b22eff9abd213e,2014-11-19,rent,apartment,São Paulo,|Brasil|São Paulo|,Brasil,São Paulo,None,"-23.9648026,-46.3855723",...,60.0,7.141667,21.666667,4.0,1.0,None,http://www.properati.com.br/tl4s_alugar_aparta...,"PACOTE R$ 1.300,00 OTIMO APARTAMENTO MOBILIA...","Apartamento em Sao Vicente, no bairro Gonzagui...",https://thumbs4.properati.com/4/x8BqTbd304ntTB...
6,6f274a2d23ffa89cb0301f3277585beda7723ce8,2014-09-01,rent,store,São Paulo,|Brasil|São Paulo|,Brasil,São Paulo,None,"-20.8343086,-49.3805559",...,NaN,NaN,NaN,NaN,NaN,None,http://www.properati.com.br/o23s_alugar_comerc...,Ref.: SA95668Tipo: Salo ComercialCidade: So Jo...,Tipo: Salo Comercial Cidade: So Jos do Rio...,https://thumbs4.properati.com/8/7VqZVGV6Hl3paO...
7,db6f890847bcacc6ec3e78a0e6613132174e4c70,2014-12-05,rent,house,São Paulo,|Brasil|São Paulo|,Brasil,São Paulo,None,"-20.8178411,-49.387605",...,NaN,NaN,NaN,NaN,1.0,None,http://www.properati.com.br/ue07_alugar_casas_...,"Ref.: CO95026Tipo: Casa Comercial, Predio Come...","Ref.: CO95026 Tipo: Casa Comercial, Predio...",https://thumbs4.properati.com/2/DNREjVLgpGPzTl...
8,f7d3243419c85cf439189481819f13cb22ab0498,2014-10-01,rent,house,São Paulo,|Brasil|São Paulo|,Brasil,São Paulo,None,"-20.8126181,-49.3404534",...,NaN,NaN,NaN,NaN,NaN,None,http://www.properati.com.br/qz8t_alugar_casas_...,Ref.: CA95902Tipo: Casa Condominio Cidade: So ...,Ref.: CA95902 Tipo: Casa Condominio C...,https://thumbs4.properati.com/8/cqu5q3tBJOddQ5...
9,cbfc4c495b3578c995363825a85a821217fab4ec,2014-10-18,rent,store,São Paulo,|Brasil|São Paulo|,Brasil,São Paulo,None,,...,NaN,NaN,NaN,NaN,NaN,None,http://www.properati.com.br/ri3p_alugar_comerc...,Ref.: SA95918Tipo: Salo ComercialCidade: So Jo...,Ref.: SA95918 Tipo: Salo Comercial Cid...,https://thumbs4.properati.com/9/INPTa4YGuWfsek...

<h2>Where</h2>
<p>The example uses a WHERE clause to show place_name equal "São Paulo". </p>

In [7]:
query = """
  SELECT created_on, operation, property_type, place_name

    FROM `properati-data-public.properties_br.properties_rent_201501` as S
    
    WHERE place_name = "São Paulo"

    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

  SELECT created_on, operation, property_type, place_name

    FROM `properati-data-public.properties_br.properties_rent_201501` as S

    WHERE place_name = "São Paulo"

    LIMIT 10

  created_on operation property_type place_name
0 2014-10-29      rent         store  São Paulo
1 2014-08-04      rent         house  São Paulo
2 2014-07-16      rent     apartment  São Paulo
3 2014-11-19      rent     apartment  São Paulo
4 2014-09-01      rent         store  São Paulo
5 2014-12-05      rent         house  São Paulo
6 2014-10-01      rent         house  São Paulo
7 2014-10-18      rent         store  São Paulo
8 2014-08-02      rent         store  São Paulo
9 2014-10-08      rent         store  São Paulo

<h2>WHERE clause</h2>

<p style="color:black;">
    The WHERE clause filters out rows against BOOL values and discards all rows that do not return TRUE. </p>

<p style="color:black;">
The example uses a WHERE clause to show property_type for "house" value and returning id, place_name and created_on as columns</p>

In [4]:
query = """
  SELECT a.id, a.place_name, a.created_on

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a
    
    WHERE a.property_type = "house"
    
    LIMIT 10
    
""".format(process_date_no_dash)


# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

  SELECT a.id, a.place_name, a.created_on

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a

    WHERE a.property_type = "house"

    LIMIT 10

                                         id place_name created_on
0  ba957ad3cb2d12d55d1f0466eeffe788a35a6f4f  São Paulo 2014-08-04
1  db6f890847bcacc6ec3e78a0e6613132174e4c70  São Paulo 2014-12-05
2  f7d3243419c85cf439189481819f13cb22ab0498  São Paulo 2014-10-01
3  c1e10a8afe111ba5caa5034df1ecb56b25b772f9  São Paulo 2014-08-19
4  201e0ccc9fc63a78f68391bdd74ac5407e07da9b  São Paulo 2014-08-04
5  f5942694fe76bfe705275acfe74148c588367f86  São Paulo 2014-09-01
6  50a4a96d3ec01b7b1032e5eec4a3496b38f35c4f  São Paulo 2014-10-09
7  c822a8819d8874916877cc6b3c91194cbf5968ca  São Paulo 2014-10-09
8  0dff14f277324eb9f04d59b6c26758ccdb744e27  São Paulo 2014-12-05
9  07383fafc72a9aa9f0286b841b782ca718485de8  São Paulo 2014-09-01

<h2>GROUP BY clause</h2>

<p style="color:black;"> Group by clause groups together rows in a table with non-distinct values.</p>
<p style="color:black;"> The example below get the SUM of price_usd_per_m2 and marks it in our table as "sum" and returns columns "created_on", "place_name", "state_name". It's GROUP BY the list of the 3 rows</p>

In [6]:
query = """
  SELECT SUM(a.price_usd_per_m2) AS sum, a.created_on, a.place_name, a.state_name

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a
    
    GROUP BY a.created_on, a.place_name, a.state_name

    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

  SELECT SUM(a.price_usd_per_m2) AS sum, a.created_on, a.place_name, a.state_name

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a

    GROUP BY a.created_on, a.place_name, a.state_name

    LIMIT 10

          sum created_on  place_name  state_name
0         NaN 2014-08-07        Catu       Bahia
1    6.088095 2015-01-20  Pernambuco  Pernambuco
2   35.472542 2014-10-29   São Paulo   São Paulo
3         NaN 2014-08-04   São Paulo   São Paulo
4  475.530131 2014-07-16   São Paulo   São Paulo
5  130.519110 2014-11-19   São Paulo   São Paulo
6         NaN 2014-09-01   São Paulo   São Paulo
7   47.070123 2014-12-05   São Paulo   São Paulo
8    6.262800 2014-10-01   São Paulo   São Paulo
9  138.062237 2014-10-18   São Paulo   São Paulo

<h2>HAVING clause</h2>

<p>The<code> Having Clause</code>is simliar to the <code>Where Clause</code>it filters out rows that do not return TRUE</p>
<p><code>HAVING</code> is differs from the <code>WHERE</code> by</p>
<li><code>HAVING</code> requires <code> GROUP BY</code></li>
<li><code>HAVING</code> occurs after <code>GROUP BY</code> and before <code>ORDER BY</code></li>
<li>This differs from the <code>WHERE</code> clause, which is evaluated before <code>GROUP BY</code> and aggregation</li>

<p>Below we have Aliase pc which gives us the SUM of the Price. We SELECT place_name and price. We returned</p>

In [8]:
query = """
  SELECT place_name, SUM(price) AS pc

    FROM `properati-data-public.properties_br.properties_rent_201501`
    
    GROUP BY place_name
    
    HAVING pc > 10
    
    LIMIT 10
    
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

  SELECT place_name, SUM(price) AS pc

    FROM `properati-data-public.properties_br.properties_rent_201501`

    GROUP BY place_name

    HAVING pc > 10

    LIMIT 10

   place_name         pc
0  Pernambuco     1200.0
1   São Paulo  2810618.0
2        Lapa   412900.0
3       Belém   127750.0
4      Trairi     5500.0
5      Macapá     7500.0
6     Itacaré     1500.0
7    Salvador    73700.0
8     Caucaia      299.0
9      Palmas    75920.0

<h2>Inner Joins</h2>
<code>[INNER] JOIN</code> or simply <code>JOIN</code>

We asked to keep the price and property_type columns from the first table and the place_name from the second table to be presented in our final table

In [9]:
query = """
  SELECT a.price, a.property_type, b.place_name

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a

    INNER JOIN `properati-data-public.properties_br.properties_rent_201502` AS b
    
    ON a.property_type = b.property_type
   
    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

  SELECT a.price, a.property_type, b.place_name

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a

    INNER JOIN `properati-data-public.properties_br.properties_rent_201502` AS b

    ON a.property_type = b.property_type

    LIMIT 10

   price property_type place_name
0    0.0         store       Catu
1    0.0         store  São Paulo
2    0.0         store  São Paulo
3    0.0         store  São Paulo
4    0.0         store  São Paulo
5    0.0         store  São Paulo
6    0.0         store  São Paulo
7    0.0         store  São Paulo
8    0.0         store  São Paulo
9    0.0         store  São Paulo

<h2>Cross Joins</h2>

Combines each row from the first table with each row from the second table M*N

In [11]:
query = """
  SELECT a.property_type, a.place_name, b.price, b.state_name

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a
    
    CROSS JOIN `properati-data-public.properties_br.properties_rent_201502` AS b
    
    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

  SELECT a.property_type, a.place_name, b.price, b.state_name

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a

    CROSS JOIN `properati-data-public.properties_br.properties_rent_201502` AS b

    LIMIT 10

  property_type place_name    price  state_name
0         store  São Paulo   1300.0   São Paulo
1         store  São Paulo  14000.0   São Paulo
2         store  São Paulo   5000.0   São Paulo
3         store  São Paulo    950.0   São Paulo
4         store  São Paulo   3800.0   São Paulo
5         store  São Paulo  10000.0   São Paulo
6         store  São Paulo      0.0   São Paulo
7         store  São Paulo      0.0       Bahia
8         store  São Paulo  28000.0   São Paulo
9         store  São Paulo   1200.0  Pernambuco

<h2>Full cross Joins</h2>
Returns all the rows that meet the join conditions. <code>FULL</code> means "all rows".
<code>OUTER</code> means if one row doesn't match a FROM given then the other rows in the other FROM , the rows will return null.

Below we <code>FULL JOIN ON</code> created_on from each table and return a.property_type, a.place_name, b.price, b.state_name, b.created_on.

In [12]:
query = """
  SELECT a.property_type, a.place_name, b.price, b.state_name, b.created_on

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a
    
    FULL JOIN `properati-data-public.properties_br.properties_rent_201502` AS b
    
    ON a.created_on = b.created_on

    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

  SELECT a.property_type, a.place_name, b.price, b.state_name, b.created_on

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a

    FULL JOIN `properati-data-public.properties_br.properties_rent_201502` AS b

    ON a.created_on = b.created_on

    LIMIT 10

  property_type place_name    price state_name created_on
0         house  São Paulo   3800.0  São Paulo 2014-10-01
1         house  São Paulo   1400.0  São Paulo 2014-10-01
2         house  São Paulo  80000.0  São Paulo 2014-10-01
3         house  São Paulo   6500.0  São Paulo 2014-10-01
4         house  São Paulo   3100.0  São Paulo 2014-10-01
5         house  São Paulo    700.0  São Paulo 2014-10-01
6         house  São Paulo   1000.0  São Paulo 2014-10-01
7         house  São Paulo   1200.0  São Paulo 2014-10-01
8         house  São Paulo   1200.0  São Paulo 2014-10-01
9         house  São Paulo   1100.0  São Paulo 2014-10-01

<h2>Left Joins</h2>
<code>LEFT OUTER JOIN</code> always retain all rows from the selected columns from the left. They will be retained even if there aren't any rows. If there aren't any rows joined from the left or the right, all rows will return with NULLs. Rows from the right column that aren't able to join will be discarded.

In the query below, left joins on the table with all of selected columns and return everything that has the same id.

In [38]:
query = """

    SELECT a.property_type, a.place_name, a.id, a.operation, a.place_with_parent_names, 
    a.country_name, a.state_name, a.geonames_id, a.lat_lon, a.lat, a.lon, a.price, a.currency, a.price_aprox_local_currency, a.price_aprox_usd, 
    a.surface_total_in_m2, a.surface_covered_in_m2, a.price_usd_per_m2, a.price_per_m2, a.floor, a.rooms, b.created_on

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a
    
    LEFT JOIN `properati-data-public.properties_br.properties_rent_201502` AS b
    
    ON a.id = b.id
    
    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

    SELECT a.property_type, a.place_name, a.id, a.operation, a.place_with_parent_names,
    a.country_name, a.state_name, a.geonames_id, a.lat_lon, a.lat, a.lon, a.price, a.currency, a.price_aprox_local_currency, a.price_aprox_usd,
    a.surface_total_in_m2, a.surface_covered_in_m2, a.price_usd_per_m2, a.price_per_m2, a.floor, a.rooms, b.created_on

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a

    LEFT JOIN `properati-data-public.properties_br.properties_rent_201502` AS b

    ON a.id = b.id

    LIMIT 10

,property_type,place_name,id,operation,place_with_parent_names,country_name,state_name,geonames_id,lat_lon,lat,...,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,created_on
0,store,Catu,f73c373e0588bf568164a057dd94203ac87d47b1,rent,|Brasil|Bahia|Catu|,Brasil,Bahia,None,,NaN,...,,0.00,0.00,None,NaN,NaN,NaN,NaN,NaN,2014-08-07
1,apartment,Pernambuco,d6d377927ab49671acdd38aa6f661a460601a88b,rent,|Brasil|Pernambuco|,Brasil,Pernambuco,None,"-8.126271,-34.903793",-8.126271,...,BRL,1184.32,383.55,None,63.0,6.088095,19.047619,1.0,2.0,2015-01-20
2,store,São Paulo,c6826a9508436920fd59b46a202354f3e4823d22,rent,|Brasil|São Paulo|,Brasil,São Paulo,None,"-23.1546253,-45.7906242",-23.154625,...,BRL,0.00,0.00,None,3800.0,NaN,NaN,NaN,NaN,2014-10-29
3,house,São Paulo,ba957ad3cb2d12d55d1f0466eeffe788a35a6f4f,rent,|Brasil|São Paulo|,Brasil,São Paulo,None,"-20.7780086,-49.3450562",-20.778009,...,BRL,751.10,243.25,None,NaN,NaN,NaN,NaN,1.0,2014-08-04
4,apartment,São Paulo,0999b33908c71af3b8be282ab35ab61b38a46353,rent,|Brasil|São Paulo|,Brasil,São Paulo,None,,NaN,...,BRL,4078.98,1321.00,None,319.0,4.141066,13.479624,NaN,4.0,NaT
5,apartment,São Paulo,011d5618639ce229b012022a32b22eff9abd213e,rent,|Brasil|São Paulo|,Brasil,São Paulo,None,"-23.9648026,-46.3855723",-23.964803,...,BRL,1323.12,428.50,None,60.0,7.141667,21.666667,4.0,1.0,2014-11-19
6,store,São Paulo,6f274a2d23ffa89cb0301f3277585beda7723ce8,rent,|Brasil|São Paulo|,Brasil,São Paulo,None,"-20.8343086,-49.3805559",-20.834309,...,BRL,3953.34,1280.31,None,NaN,NaN,NaN,NaN,NaN,2014-09-01
7,house,São Paulo,db6f890847bcacc6ec3e78a0e6613132174e4c70,rent,|Brasil|São Paulo|,Brasil,São Paulo,None,"-20.8178411,-49.387605",-20.817841,...,BRL,7906.68,2560.62,None,NaN,NaN,NaN,NaN,1.0,2014-12-05
8,house,São Paulo,f7d3243419c85cf439189481819f13cb22ab0498,rent,|Brasil|São Paulo|,Brasil,São Paulo,None,"-20.8126181,-49.3404534",-20.812618,...,BRL,3004.52,973.03,None,NaN,NaN,NaN,NaN,NaN,2014-10-01
9,store,São Paulo,cbfc4c495b3578c995363825a85a821217fab4ec,rent,|Brasil|São Paulo|,Brasil,São Paulo,None,,NaN,...,BRL,11069.36,3584.87,None,NaN,NaN,NaN,NaN,NaN,2014-10-18

<h2>Right Joins</h2>
<code>RIGHT JOIN</code> always retain all rows from the selected columns from the right. They will be retained even if there aren't any rows. If there aren't any rows joined from the right or the left, all rows will return with NULLs. Rows from the left column that aren't able to join will be discarded.

This is the opposite from <code>LEFT JOIN</code>

The query below does the opposite of the Left query above

In [17]:
query = """
    SELECT a.property_type, a.place_name, a.id, a.operation, a.place_with_parent_names, 
    a.country_name, a.state_name, a.geonames_id, a.lat_lon, a.lat, a.lon, a.price, a.currency, a.price_aprox_local_currency, a.price_aprox_usd, 
    a.surface_total_in_m2, a.surface_covered_in_m2, a.price_usd_per_m2, a.price_per_m2, a.floor, a.rooms, b.created_on

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a
    
    RIGHT JOIN `properati-data-public.properties_br.properties_rent_201502` AS b
    
    ON a.created_on = b.created_on
    
    LIMIT 10

""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

    SELECT a.property_type, a.place_name, a.id, a.operation, a.place_with_parent_names,
    a.country_name, a.state_name, a.geonames_id, a.lat_lon, a.lat, a.lon, a.price, a.currency, a.price_aprox_local_currency, a.price_aprox_usd,
    a.surface_total_in_m2, a.surface_covered_in_m2, a.price_usd_per_m2, a.price_per_m2, a.floor, a.rooms, b.created_on

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a

    RIGHT JOIN `properati-data-public.properties_br.properties_rent_201502` AS b

    ON a.created_on = b.created_on

    LIMIT 10

,property_type,place_name,id,operation,place_with_parent_names,country_name,state_name,geonames_id,lat_lon,lat,...,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,created_on
0,store,Catu,f73c373e0588bf568164a057dd94203ac87d47b1,rent,|Brasil|Bahia|Catu|,Brasil,Bahia,None,,NaN,...,,0.00,0.00,NaN,NaN,NaN,NaN,None,NaN,2014-08-07
1,house,Trairi,721035d784741fccd957146f64a8c708ecc6a71d,rent,|Brasil|Ceará|Trairi|,Brasil,Ceará,None,"-3.2696983,-39.2684763",-3.269698,...,BRL,464.43,150.41,522.0,200.0,0.752050,3.000000,None,NaN,2014-08-07
2,apartment,Osasco,e14ff059c7e9eca8eabc6ad45630986ff5dc9604,rent,|Brasil|São Paulo|Osasco|,Brasil,São Paulo,None,,NaN,...,BRL,1595.43,516.69,83.0,71.0,7.277324,23.239437,None,2.0,2014-08-07
3,house,Guarujá,016c34ec5cf964ef34099f0bfce1ccf3109fa171,rent,|Brasil|São Paulo|Guarujá|,Brasil,São Paulo,None,,NaN,...,BRL,1300.24,421.09,NaN,NaN,NaN,NaN,None,2.0,2014-08-07
4,house,Sorocaba,72078b53469ddcab9427680295f580ea7b846849,rent,|Brasil|São Paulo|Sorocaba|,Brasil,São Paulo,None,,NaN,...,BRL,3848.57,1246.38,NaN,NaN,NaN,NaN,None,3.0,2014-08-07
5,house,Lapa,75f85faf14f8327c9d2accf279ae69252a466897,rent,|Brasil|São Paulo|São Paulo|Lapa|,Brasil,São Paulo,None,,NaN,...,BRL,8905.95,2884.24,NaN,NaN,NaN,NaN,None,7.0,2014-08-07
6,apartment,Lapa,1e455642c4dc518497978d39df9eb658bc1cff58,rent,|Brasil|São Paulo|São Paulo|Lapa|,Brasil,São Paulo,None,,NaN,...,BRL,3265.50,1057.55,NaN,NaN,NaN,NaN,None,1.0,2014-08-07
7,house,Lapa,662f26139ceaa4f0ed4fd1a09594c5aa7635a09f,rent,|Brasil|São Paulo|São Paulo|Lapa|,Brasil,São Paulo,None,,NaN,...,BRL,3067.60,993.46,NaN,NaN,NaN,NaN,None,5.0,2014-08-07
8,apartment,Lapa,a02816b487cbe9e714bf1c72f731dc34f3222b65,rent,|Brasil|São Paulo|São Paulo|Lapa|,Brasil,São Paulo,None,,NaN,...,BRL,2671.78,865.27,NaN,NaN,NaN,NaN,None,1.0,2014-08-07
9,house,Lapa,3486c2e231b06cda12e5ccd38a0c16a60db23bf9,rent,|Brasil|São Paulo|São Paulo|Lapa|,Brasil,São Paulo,None,,NaN,...,BRL,4947.73,1602.35,NaN,NaN,NaN,NaN,None,5.0,2014-08-07

<h2>USING clause</h2>

<code>USING</code> and <code>ON</code> are simliar ON returns multiple columns, and USING returns one.

The query below selects "place_name" from (the first dataset) and does a INNER JOIN with b (the second dataset) and returns using the "id" from each dataset that join on each other.

In [37]:
query = """
  SELECT a.place_name

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a
    
    INNER JOIN `properati-data-public.properties_br.properties_rent_201502` AS b
    
    USING (id)

    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

  SELECT a.place_name

    FROM `properati-data-public.properties_br.properties_rent_201501` AS a

    INNER JOIN `properati-data-public.properties_br.properties_rent_201502` AS b

    USING (id)

    LIMIT 10

   place_name
0        Catu
1  Pernambuco
2   São Paulo
3   São Paulo
4   São Paulo
5   São Paulo
6   São Paulo
7   São Paulo
8   São Paulo
9   São Paulo

<h2>With Clause</h2>

In [ ]:
query = """
  SELECT *

    FROM `properati-data-public.properties_br.properties_rent_201501`

    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

<h2>Order By Clause</h2>

<p style="color:black;"> GroupBy clause specifies a column or expression as the sort criterion for the result set. If no Group clause is set then the order is not defined.</p>

In [ ]:
query = """
  SELECT *

    FROM `properati-data-public.properties_br.properties_rent_201501`

    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

<h2>Window Clause</h2>

In [ ]:
query = """
  SELECT *

    FROM `properati-data-public.properties_br.properties_rent_201501`

    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

<h2>Union Clause</h2>

In [ ]:
query = """
  SELECT *

    FROM `properati-data-public.properties_br.properties_rent_201501`

    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)

<h2>Aggregate Functions</h2>
<p>An aggregate function is a function that summarizes the rows of a group into a single value. COUNT, MIN and MAX are examples of aggregate functions.</p>

<a herf="https://cloud.google.com/bigquery/docs/reference/standard-sql/aggregate_functions">Bigquery Aggregate Functions</a>

In [ ]:
query = """
  SELECT *

    FROM `properati-data-public.properties_br.properties_rent_201501`

    LIMIT 10
""".format(process_date_no_dash)

# Run a Standard SQL query using the environment's default project
df = pandas.read_gbq(query, dialect='standard')

# Run a Standard SQL query with the project set explicitly
df = pandas.read_gbq(query, project_id=project_id, dialect='standard')

print(query)

df.head(10)